@use "variables" as *;

@mixin Window {
  background-color: $widget-bg2;
  border-radius: 15px;
  border: 1pt solid gtkalpha($widget-text, .03);
  box-shadow: 0 0 0 1px rgba(238, 238, 238, 0.04) inset, 2px 3px 8px 0 $shadow-color;
}

@mixin Button {
  background-color: gtkalpha($widget-text, .06);
  box-shadow: 0 0 0 1px gtkalpha($widget-text, .04) inset;
  color: $widget-text;

  &:hover,
  &:focus {
    background: $mauve;
    background: radial-gradient(circle, rgba(203, 166, 247, 1) 0%, rgba(193, 168, 247, 1) 12%, rgba(189, 169, 247, 1) 20%, rgba(182, 171, 247, 1) 24%, rgba(177, 172, 247, 1) 37%, rgba(170, 173, 248, 1) 48%, rgba(166, 174, 248, 1) 52%, rgba(160, 175, 248, 1) 59%, rgba(155, 176, 248, 1) 67%, rgba(152, 177, 248, 1) 68%, rgba(205, 214, 244, 1) 77%, rgba(148, 178, 249, 1) 78%, rgba(144, 179, 250, 1) 82%, rgba(180, 190, 254, 1) 83%, rgba(141, 179, 250, 1) 90%, rgba(137, 180, 250, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease-in-out infinite;
    transition: all 0.5s cubic-bezier(0, .49, 1, 1);
    color: $widget-bg2;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}
