@use "variables" as *;

@mixin Window {
  background-color: $widget-bg2;
  border-radius: 15px;
  border: $border-width solid $border-color;
  box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
  border: 1pt solid gtkalpha($widget-text, .03);

}
