@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$radius: 15px;
$padding: 5px;
$shadow-color: gtkalpha(black, .4);

$border-width: 2px;
$border-color: rgba(205, 214, 244, 0.15);


$shadows: true;
$bar-position: "top";

$widget-text: #cdd6f4;
$widget-surface0: #313244;
$widget-surface1: #45475a;
$widget-surface2: #585b70;

$widget-fg: #ffffff;
$widget-bg0: #1e1e2e;
$widget-bg1: #181825;
$widget-bg2: #11111b;

$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
