@use "variables" as *;
@use "mixins" as *;

@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.Bar {
  background: transparent;
  color: $widget-text;
  font-weight: bold;

  >centerbox {
    background: $widget-bg2;

    >box.Start {
      margin-left: 5px;
    }

    >box.End {
      margin-right: 5px;
    }

    button.BarButton {
      all: unset;
      @include Button;
      font-size: 1.1rem;
      border-radius: 12px;
      padding: 5px 10px;
      margin: 5px 3px;
    }

    box.Battery {
      overlay {
        label.percentage {
          font-size: 1.1rem;
          font-weight: bold;
          color: $widget-bg2;
        }

        scale {
          padding: 0;
          margin: 0 5px;

          highlight {
            background-color: $mauve;
            border-radius: $radius - 7px;
          }

          trough {
            background-color: $widget-surface0;
            border-radius: $radius - 7px;
          }

          slider {
            all: unset;
            padding: 12px 30px;
          }
        }

      }
    }

    box.SysTray {

      border-radius: 12px;
      padding: 5px 2px;
      margin: 6px 3px;
      background-color: gtkalpha($widget-text, .06);
      box-shadow: 0 0 0 1px gtkalpha($widget-text, .04) inset;
      color: $widget-text;

      button {
        all: unset;
        font-size: 1.1rem;
        margin: 0 3px;
      }
    }

    button.QSBarItems {
      icon {
        font-size: 1.2rem;
        margin: 0 2px;
      }
    }

    button.PowerBarButton {
      padding: 6px;
      border-radius: 50%;

      icon {
        color: $red;
        font-size: 1.3rem;
      }

      &:hover,
      &:active {
        icon {
          color: $widget-bg2;
        }
      }
    }
  }
}
