@use "variables" as *;
@use "mixins" as *;

@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.Bar {
  background: transparent;
  color: $widget-text;
  font-weight: bold;

  >centerbox {
    background: $widget-bg2;

    >box.Start {
      margin-left: 5px;
    }

    >box.End {
      margin-right: 5px;
    }

    button.BarButton {
      all: unset;
      @include Button;
      font-size: 1.1rem;
      border-radius: 12px;
      padding: 5px 10px;
      margin: 5px 3px;
    }

    button.QSBarItems {
      icon {
        font-size: 1.2rem;
        margin: 0 2px;
      }
    }

    button.PowerBarButton {
      padding: 6px;
      border-radius: 50%;

      icon {
        color: $red;
        font-size: 1.3rem;
      }

      &:hover,
      &:active {
        icon {
          color: $widget-bg2;
        }
      }
    }
  }
}
