@use 'sass:color';

$bar-spacing: $spacing * .3;
$button-radius: $radius;

@mixin panel-button($flat: true, $reactive: true) {
  @include accs-button($flat, $reactive);

  >* {
    border-radius: $button-radius;
    margin: $bar-spacing;
  }

  label,
  image {
    font-weight: bold;
  }

  >* {
    padding: $padding * 0.4 $padding * 0.8;
  }
}

.bar {
  transition: $transition;
  background-color: $bg;

  .panel-button,
  .tray-item {
    @include panel-button;

    &:not(.flat) {
      @include accs-button($flat: false);
    }
  }

  .tray-item>.menu {
    @include unset;

    &:hover,
    &:active,
    &.active,
    &.on,
    &:checked {
      @include unset;
    }

    label {
      font-family: $font-name;
      font-size: $font-size - 2;
      font-weight: 400;
    }
  }
}
